.threecolumn-container {
    display: flex;
    width: 80%;
    margin: auto;
    min-height: 100vh;
}


/* 
LeftBar
*/

.leftBar-container {
    width: 25%;
    padding: 1rem;
}




/* 
Main
*/

.main-container {
    width: 50%;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    padding: 1rem;
}





/* 
RightBar
*/

.rightBar-container {
    width: 25%;
    padding: 1rem;
}
